<header class="container-fluid">

    <ul class="navigation-bar">
        <a routerLink="/" class="logo">City Diner</a>
        <li class="navs">
            <a routerLink="/">Home</a>
            <a routerLink="/">Restaurant</a>
            <a routerLink="/food">Food</a>
            <a routerLink="/store">Store <span class="quantity" *ngIf="quantity"> {{quantity}} </span> </a>
            <div class="dropdowns">
                <a class="dropbtn">Profile</a>
                <div class="dropdown-content">
                    <a class=" " routerLink="orders">Profile</a>
                    <a class=" " routerLink="orders">Orders</a>
                    <a routerLink="/logout">Logout</a>
                </div>
            </div>
        </li>
    </ul>

</header>