<div class="container">
    <div class="d-flex">
        <input type="search" name="" id="" placeholder="Search restaurant" class="form-control w-25 rounded-end-0"
            #searchterm>
        <button (click)="onSearch(searchterm.value)" class="btn-lg rounded-start-0 p-1"> <i
                class="fa-solid fa-magnifying-glass p-1"></i></button>
    </div>
    <div class="addfoodbtn text-end mb-4">
        <button class="px-3" type="button" (click)="openRestaurantDialog()">Add Restaurant</button>
    </div>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">place</th>
                <th scope="col">cuisine</th>
                <th scope="col">Opening 🕒</th>
                <th scope="col">Closing 🕒</th>
                <th scope="col">stars</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of restaurants,  let i =index">
                <th scope="row">{{i +1}}</th>
                <td><img src="{{item.imageUrl}}" alt=""> </td>
                <td>{{item.name}}</td>
                <td>{{item.place }}</td>
                <td>{{item.cuisine}}</td>
                <td>{{item.openingtime}}</td>
                <td>{{item.closingtime}}</td>
                <td>{{item.stars}}</td>
                <td class=""><i class="fa-solid fa-trash me-2" (click)="onDelete(item)"></i>
                    <i class="fa-regular fa-pen-to-square ms-2" (click)="openRestaurantDialog(item)"></i>
                </td>
            </tr>
        </tbody>

    </table>
</div>