<div class="main">
    <ul class="cards">
        <li class="cards_item" id="item_salad">
            <div class="card">
                <div class="card_price">{{selectedRestaurant.stars}} ⭐</div>
                <div class="card_image"><img src="{{selectedRestaurant.imageUrl}}"
                        alt="mixed vegetable salad in a mason jar. "></div>
                <div class="card_content">
                    <h2 class="card_title">{{selectedRestaurant.name}}</h2>
                    <div class="card_text">
                        <p>{{selectedRestaurant.place}} </p>
                        <p>{{selectedRestaurant.cuisine}}</p>
                        <p>{{selectedRestaurant.openingtime}}</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>