<div class="card d-flex flex-row" style="width: 100%;">
    <div class="view overlay">
        <img class="card-img-top" src="{{selectedRestaurant.imageUrl}}" alt="Card image cap">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <div class="card-body">
        <h4 class="card-title">{{selectedRestaurant.name}}</h4>
        <p class="card-text">{{selectedRestaurant.place}}</p>
        <div class="card_price">{{selectedRestaurant.stars}} ⭐</div>
        <p>{{selectedRestaurant.cuisine}}</p>
        <p>{{selectedRestaurant.openingtime}}</p>
    </div>

</div>
<div *ngIf="!selectedRestaurant.AdressLong">
    <div class="adress border p-3"> Address Not found!</div>
</div>
<app-map [lat]="latitude" [long]="longitude"></app-map>

<style>
    .adress {
        position: absolute;
        margin: 16% 42%;
        z-index: 500;
        background: black;
    }
</style>