@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

body {
  font-size: 18px;
  background-color: #2e2e2e;
  list-style-type: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

h3 {
  font-weight: 500;
  font-size: 22px;
}

.loading {
  display: flex;
  justify-content: space-around;
}

// modal
.reg-form {
  padding: 5px 0;
}

.reg-form form {
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.reg-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.reg-btn {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #5791ff;
  border: none;
  color: white;
}

@media (max-width: 576px) {
  .reg-form form {
    padding: 50px 20px;
  }
}
