@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

body {
  font-size: 18px;
  background-color: #2e2e2e;
  list-style-type: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

button {
  background-color: #2e2e2e;
  box-shadow: white;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
button:hover {
  background-color: rgba(49, 40, 40, 0.933);
  box-shadow: 0 1px 9px rgba(0, 10, 25, 0.3), 0 3px 0px rgba(0, 0, 40, 0.22);
}
a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

h3 {
  font-weight: 500;
  font-size: 22px;
}

.loading {
  display: flex;
  justify-content: space-around;
}

// modal
.reg-form {
  padding: 5px;
}

.close-div {
  display: flex;
  justify-content: flex-end;
}

.reg-form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-form .item {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px 20px;
  max-width: 87%;
}

.reg-btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #5791ff;
  border: none;
  color: white;
  margin-left: 53px;
}
.row {
  display: flex;
  width: 87%;
}

@media (max-width: 576px) {
  .reg-form form {
    padding: 50px 20px;
  }
}
